<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MIP/TRU - Pesquisa</title>

  <!-- favicon -->
  <link rel="shortcut icon" href="/img/logoIcon.png" />

  <!--Link css Local-->
  <link rel="stylesheet" href="/css/index.css">

  <!--Bootstrap-->
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!-- Fonts -->
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
      <div class="container">
        <a class="navbar-brand" href="/">UNIFESSPA</a>

        <div class="dropdown">
          <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Usuário
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/editar">Perfil</a>
            <% if(profile=='2' ) { %>
              <a class="dropdown-item" href="/cadastro">Cadastro</a>
              <% } %>
                <a class="dropdown-item" href="/logout">Sair</a>
          </div>
        </div>
      </div>
    </nav>
  </header>



  <div class="jbt">
    <div class="jumbotron">
      <h1 class="display-4">Bem-vindo(a), <%= user %>
      </h1>
      <p class="lead">Texto com informaçações, <a href="#">links</a> e afins.</p>
      <hr class="my-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie tellus non est rhoncus suscipit nec in
        justo. Nulla auctor ac nibh a lobortis.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/table" role="button">Tabela 2018</a>
      </p>
    </div>
  </div>


  <footer>
    <div class="col-xg">
      <nav class="navbar fixed-bottom navbar-light bg-sucess">
        <div class="rodape"><a class="navbar-brand" href="/">@Unifesspa</a></div>
      </nav>
    </div>
  </footer>



  <!--Jquey-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <!--Bootstrap-->
  <script src="/js/bootstrap.min.js"></script>

  <!--JS local-->
  <script src="js/index.js"></script>
</body>

</html>