<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar - MIP/TRU</title>

    <!-- Link Google API login com botão Google -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <!-- Link biblioteca JWTdecpde para logar com google -->
    <script src="https://unpkg.com/jwt-decode/build/jwt-decode.js" async defer></script>


    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logoIcon.png" />

    <link rel="stylesheet" href="/css/login.css">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">


    <!--Bootstrap-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

    <!-- Cria uma lista com as mensagens ao ser redirecionado após um cadastro -->
    <% if(messages.success_msg) {%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= messages.success_msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <% } %>

            <% if(messages.error) {%>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= messages.error %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <% } %>

                    <h2>LACAM - Laboatório de Contas Regionais da Amazônia</h2>
                    <div class="container" id="container">
                        <div class="form-container sign-up-container">
                            <form action="#">
                                <h1>Criar conta</h1>
                                <div class="social-container">
                                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                                <span>ou use seu e-mail para se registrar</span>
                                <input type="text" placeholder="Name" />
                                <input type="email" placeholder="Email" />
                                <input type="password" placeholder="Password" />
                                <button>Entrar</button>
                            </form>
                        </div>




                        <div class="form-container sign-in-container">

                            <form action="/login" method="POST">
                                <h1>Entrar</h1>
                                <div class="social-container">
                                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                                <span>ou use sua conta</span>


                                <input type="text" class="form-control bg-light btn-outline-secondary shadow-none"
                                    name="usuario" placeholder="Nome de Usuário" />
                                <div id="icon-user"></div>


                                <input ype="password" class="form-control bg-light btn-outline-secondary shadow-none"
                                    name="senha" id="password" placeholder="Senha" />
                                <div id="toggle" onclick="showHide();"></div>
                                <div id="icon-password"></div>


                                <a href="/forgot">Esqueceu sua senha?</a>
                                <button>Entrar</button>
                            </form>


                        </div>





                        <div class="overlay-container">
                            <div class="overlay">
                                <div class="overlay-panel overlay-left">
                                    <h1>Que bom ter você de volta!</h1>
                                    <p>Para se manter conectado, faça o login com suas informações pessoais</p>
                                    <button class="ghost" id="signIn">Entrar</button>
                                </div>
                                <div class="overlay-panel overlay-right">
                                    <h1>Olá</h1>
                                    <p>Insira seus dados e comece sua jornada</p>
                                    <button class="ghost" id="signUp">Resgistrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Botão Google -->
                    <script>
                        function handleCredentialResponse(response) {
                            console.log("Encoded JWT ID token: " + response.credential);
                        }
                        window.onload = function () {
                            google.accounts.id.initialize({
                                client_id: "354808760916-amhh2aldqkl2m9dd53n366nmouhig23c.apps.googleusercontent.com",
                                callback: handleCredentialResponse
                            });
                            google.accounts.id.renderButton(
                                document.getElementById("buttonDiv"),
                                { theme: "outline", size: "large" }  // customization attributes
                            );
                            google.accounts.id.prompt(); // also display the One Tap dialog
                        }
                    </script>
                    <div id="buttonDiv"></div>


                    <!-- rodapé -->
                    <footer>
                        <div class="footer">
                            <p class="footer">No momento, este site necessita do uso de cookies para prosseguir com
                                o login <button id="butaoOk" class="btn btn-success btn-flex mt-0 ml-3"
                                    onclick="entendi()">Entendi</button></p>
                        </div>
                    </footer>






                    <!--Jquey-->
                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                        crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                        crossorigin="anonymous"></script>

                    <!--Bootstrap-->
                    <script src="/js/bootstrap.min.js"></script>

                    <script src="/js/login.js"></script>
                    <script src="login.js"></script>

</body>

</html>