body {
    background-color: #f5f8fa !important;
}

.rodape{
    margin-left: 45%;
}

.navbar-light.navbar-laravel{
    background-color: white !important;
}

.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
    margin-bottom: 10px;
}

.navbar-brand , .nav-link, .my-form, .login-form
{
    font-family: Raleway, sans-serif;
}

.alert {
    margin-bottom: 5px !important;
}