@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body{
    font-family: Raleway, sans-serif !important;
}

.rodape {
    margin-left: 45%;
}

.logo-lcc{
    margin-top: 30px;
}

.navbar-light.navbar-laravel {
    background-color: white !important;
}

.navbar-laravel {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .04);
}

.row {
    margin-top: 15px;
    margin-bottom: 10px;
}

.row:hover {
    color: #124ebe;
}

.container {
    padding-bottom: 10px;
}