@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

/* img infor */
.icon-info {
    height: 28px;
}

/* texto sobre */
.txt-info{
    font-size: 20px;
    text-decoration: none !important;
    font-family: Raleway, sans-serif !important;
    color: black;
}
.txt-info:hover{
    color: #198754;
}

.navbar-light.navbar-laravel{
    background-color: white !important;
}


.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.imagem{
    width: 30px;
}

.row{
    margin-top: 15px;
    margin-bottom: 10px;
}

.row:hover{
    color: #124ebe;
}

.container{
    padding-bottom: 10px;
}


/* footer */

#myFooter .footer-copyright {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: white
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

html {
    height: 100%;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

#myFooter {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}