@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

.rodape{
    margin-left: 45%;
}

.navbar-light.navbar-laravel{
    background-color: white !important;
}


.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.imagem{
    width: 30px;
}

.row{
    margin-top: 15px;
    margin-bottom: 10px;
}

.row:hover{
    color: #124ebe;
}

.container{
    padding-bottom: 10px;
}


