body {
    background-color: #f5f8fa !important;
}

* {
    font-family: 'Raleway' !important;
}

.caixa{
    background-color: white;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 10px 5px black;
    -webkit-box-shadow: 3px 3px 18px -4px rgba(0,0,0,0.51);
    -moz-box-shadow: 3px 3px 18px -4px rgba(0,0,0,0.51);
    box-shadow: 3px 3px 18px -4px rgba(0,0,0,0.51);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


#logo {
    width: 100%;
    max-width: 500px;
}

input[type=password], input[type=text], input[type=email] {
    padding-left: 40px;
    border-radius: 0 !important;
    width: 10px !important;
    border: none;
    border-bottom: 1px solid #484e53;
    outline: none;
    background-color: white !important;
}

input:placeholder-shown {
    margin-left: 4px;
}

/* Para alterar a cor do auto-preenchimento */
input:-webkit-autofill
{    
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: black !important;
}

input:-webkit-autofill:hover {
    -webkit-background-clip: #f5f8fa !important;
}

input:focus{ 
    outline: none !important;
}

input {
    color: black !important;
}

input:hover {
    background-color: #f5f8fa !important;
}

.title {
    color: #155130 !important;
    font-size: 20px;
    font-weight: bold;
}

#botao {
    border-radius: 50px;
}

#botao:hover {
    background-color: white !important;
    color: #28a745 !important;
    border-color: #28a745 !important;
}

#icon-email {
    position: absolute;
    left: 25px;
    transform: translateY(50%);
    width: 20px;
    height: 20px;
    background: url('/img/email.png');
    background-size: cover;
    z-index: 10;
}

#close-icon {
    position: absolute;
    right: 25px;
    transform: translateY(50%);
    width: 15px;
    height: 15px;
    background: url('/img/close.png');
    background-size: cover;
    cursor: pointer;
    z-index: 10;
}

@media screen and (max-width: 400px) {
    body {
        background-color: white !important;
    }
    .caixa {
        box-shadow: none;
        background-color: white;
    }
 }