@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
/* img infor */
.icon-info {
    height: 28px;
}

/* texto sobre */
.txt-info{
    font-size: 20px;
    text-decoration: none !important;
    font-family: Raleway, sans-serif !important;
    color: black;
}
.txt-info:hover{
    color: #198754;
}


#pdf, #csv, #xlsx{
    position: relative !important;
}

.button__text {
    transition: all 0.2s;
}

.button--loading .button__text {
    visibility: hidden;
    opacity: 0;
}

.button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #fff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}