tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

body{
    background-color: greenyellow;
}

.dt-button{
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 51px;
    


}