<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar - MIP/TRU</title>

    <!-- Link Google API login com botão Google -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <!-- Link biblioteca JWTdecpde para logar com google -->
    <script src="https://unpkg.com/jwt-decode/build/jwt-decode.js" async defer></script>
    

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logoIcon.png" />

    <link rel="stylesheet" href="/css/login.css">teste/loginTeste.ejs

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">


    <!--Bootstrap-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <!-- Cria uma lista com as mensagens ao ser redirecionado após um cadastro -->
    <% if(messages.success_msg) {%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= messages.success_msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <% } %>

            <% if(messages.error) {%>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= messages.error %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <% } %>

                    <div class="container-fluid">
                        <div class="row form-login justify-content-center p-4">
                            <div class="align-self-center area-form caixa">

                                <div class="row justify-content-center mb-4">
                                    <img src="img/lacan-01.jfif" id="logo">
                                </div>

                                <span class="d-block text-center title">MIP/TRU - Pesquisa Contas</span>

                                <form action="/login" method="POST">
                                    <div class="input-group mt-2">
                                        <input type="text"
                                            class="form-control bg-light btn-outline-secondary shadow-none"
                                            name="usuario" placeholder="Nome de Usuário">
                                        <div id="icon-user"></div>
                                    </div>
                                    <div class="input-group mt-2">
                                        <input type="password"
                                            class="form-control bg-light btn-outline-secondary shadow-none" name="senha"
                                            id="password" placeholder="Senha">
                                        <div id="toggle" onclick="showHide();"></div>
                                        <div id="icon-password"></div>
                                    </div>

                                    <span class="small d-block text-center mt-2"><a href="/forgot">Esqueceu a
                                            senha?</a></span>

                                    <div class="row">
                                        <div class="col-8 mx-auto">
                                            <button type="submit" id="botao"
                                                class="btn btn-success btn-block mt-2">Entrar</button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-8 mx-auto mt-2">
                                            <div id="buttonDiv"></div>
                                        </div>
                                    </div>
                                </form>

                            </div>



                            <!-- <div class="footer">
                                <p class="footer">No momento, este site necessita do uso de cookies para prosseguir com
                                    o login <button id="butaoOk" class="btn btn-success btn-flex mt-0"
                                        onclick="entendi()">Entendi</button></p>
                            </div> -->

                        </div>
                    </div>

                    <script>
                        function handleCredentialResponse(response) {
                          console.log("Encoded JWT ID token: " + response.credential);
                        }
                        window.onload = function () {
                          google.accounts.id.initialize({
                            client_id: "354808760916-amhh2aldqkl2m9dd53n366nmouhig23c.apps.googleusercontent.com",
                            callback: handleCredentialResponse
                          });
                          google.accounts.id.renderButton(
                            document.getElementById("buttonDiv"),
                            { theme: "outline", size: "large" }  // customization attributes
                          );
                          google.accounts.id.prompt(); // also display the One Tap dialog
                        }
                    </script>
                    <div id="buttonDiv"></div> 


                    <!--Jquey-->
                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                        crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                        crossorigin="anonymous"></script>

                    <!--Bootstrap-->
                    <script src="/js/bootstrap.min.js"></script>

                    <script src="/js/login.js"></script>
</body>

</html>